<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid BattleGround</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Modak&family=Orbitron:wght@800&display=swap');
      </style>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" ></script>
    <script src="app.js" defer ></script>
  </head>
  <body>
    <header>
      <h1>Covid BattleGround</h1>
    </header>
    <div id="game">

      

      <div class="wrapper">
        <section id="monster" class="container">
          <h2>Monster Health</h2>
          <div class="healthbar">
            <div class="healthbar__value" :style="monsterLifeBar"></div>
           
          </div>
          <div class="ImgButtonContainer">
            <img
              class="monsterImg"
              :src="monsterImages[currentMonster]"
              @click="changeMonsterIcon()"
            />
            <button class="changeMonsterButton" @click="changeMonsterIcon()">
              Change Covid Monster
            </button>
          </div>
        </section>
      
        <div class="wrapper_buttons">
          <section id="controls">
            <h3 class="onOffText">Sound on/off </h3>
            <label class="switch">
              
              <input type="checkbox" v-model="SoundOn">
              <span class="slider round"></span>
            </label>


            

            <button  @mouseover='AttackActive=true' @mouseleave='AttackActive=false' :disabled="resign" @click="playSound(); AttackOnMonster()" >ATTACK</button>
            <div v-if="AttackActive">Attack ! But Covid will attack back!</div>
            <button @mouseover='TurboActive=true' @mouseleave='TurboActive=false':disabled="(round % 3)!==0 ||resign" @click="TurboAttack(); playSound()">Turbo Attack</button>
            <div v-if="TurboActive">Super Attack ! But use wisely !</div>
            <button  @mouseover='HealActive=true' @mouseleave='HealActive=false' :disabled="playerHealth===100||resign" @click="playSound();heal()" >Magical First Aid</button>
            <div v-if="HealActive">Heal Yourself! But Covid will also attack! </div>
            <button @click="resign=true">RESIGN</button>
            
            
          </section>
        </div>


        
        <section id="player" class="container">
          <h2>Your Health</h2>
          <div class="healthbar">
            <div class="healthbar__value" :style="playerLifeBar"></div>
          </div>
          <div class="ImgButtonContainer">
          <img class="monsterImg" :src="playerImages[currentPlayer]" @click="changePlayerIcon()" />
          <button class="changePlayerButton" @click="changePlayerIcon()">
            Change Player
            </button>
          </div>
        </section>

        
      </div>
      <section class="container-result" v-if="winner">
        
        <h2 v-if="winner===Player">You won!</h2>
        <h2 v-else>You lost!</h2>
      </section>

      <div v-if="resign" class="container resign">You Resigned... : (</div>
    </div>
 
    
      
    </div>
  </body>
</html>
